<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">-->

    <!--     Fonts and icons     -->

<!---    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/> -->
    <!-- Nucleo Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#073683">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/nucleo-icons.css' %}"/>-->
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/black-dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.css' %}"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #e3e3e3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #383c3c;
}


    </style>
<title>Images</title>
</head>
<body>

{% if result == "Capture Error" %}
<h3 class="h3 m-4" style="color: #FFFFFF">Capture Error on <u>{{ camera_name }}</u> - No image to display {{ message }}</h3>
{% elif result == "Image Size Error" %}
<h3 class="h3 m-4" style="color: #FFFFFF">Image Size Error on <u>{{ camera_name }}</u> - Unable to compare images {{ message }}</h3>
{% else %}
<div class="container-fluid">
    <div class="row pl-2">
        <div class="column">
            <h3 class="h3 m-4" style="color: #FFFFFF">Reference Image for <u>{{ camera_name }} / #{{ camera_number }}</u></h3>

            <div class="image-row">
                <div class="image-container">
                    <a style="color: #FFFFFF"> Reference Image Date/Time: {{ reference_image_date }}</a>
                    <img src="/media/{{ reference_image }}" alt="Base" class="image" title="Reference Image">
                    <div class="image-overlay" style="color: #FFFFFF">Reference Image</div>
                </div>
                <div class="image-container">
                    <a style="color: #FFFFFF"> Captured Image Date/Time: &nbsp;&nbsp;{{ capture_time_date }}</a>
                    <img src="/media/{{ capture_image }}" alt="Capture" class="image">
                    <div class="image-overlay" style="color: #FFFFFF">Captured Image</div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
    <div class="row pl-2">
        <div class="column">
        <h3 class="h3 m-4" style="color: #FFFFFF"> Difference </h3>
        <div class="image-row">
<!--        <div style="text-align: center;">-->
            <div class="container-fluid">
            <a href="#" onclick="open_new_window(this)">
                <img src="data:image/png;base64,{{ merged_image }}" alt="Movement" style="width:50%">
            </a>
            <script>
            function open_new_window(element) {
                var newTab = window.open();
                setTimeout(function() {
                    newTab.document.body.innerHTML = element.innerHTML;
                }, 500);
                return false;
            }
            </script>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endif %}
</div>
</div>
</body>
</html>