<!doctype html>
{% load bootstrap4 %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">-->

    <title>
       Scene Check
    </title>
    <!--     Fonts and icons     -->

<!---    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/> -->
    <!-- Nucleo Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#073683">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/nucleo-icons.css' %}"/>-->
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/black-dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.css' %}"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <style>
        #id_regions li {
  border: 1px transparent solid;
  display:inline-block;
  width:4em;
}
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #2E3E64;
  text-align: center;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: rgb(80, 80, 80, 0.3);
}




    </style>
</head>

<body class="">
<div class="wrapper">
    <div class="sidebar" data="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a>
                    <img src="{% static 'isc_logo.png' %}" height="40px"/>
                </a>
                <a href="/" style="color:#FFFFFF">
                    Scene Check
                </a>
                <ul style="list-style-type:none">
                    {% if user.is_authenticated %}
                    <li><i class="far fa-user"></i> {{ user.get_username }} <br><a
                            href="/accounts/password_change/">Change password</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}"> <i class="fa fa-sign-in-alt"></i>
                        Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="nav">
                {% if user.is_authenticated %}
                <li>
                    <a href="/status/">
                        <i class="fas fa-person-running"></i>
                        <p> System Status</p>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="/status/">
                        <!--                                <i class="tim-icons icon-user-run"></i>-->
                        <i class="fas fa-person-running"></i>
                        <p>Status</p>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/cameras/">
                        <!--                                <i class="tim-icons icon-video-66"></i>-->
                        <i class="fas fa-video"></i>

                        <p>Cameras</p>
                    </a>
                </li>

                <li>
                    <a href="/logs/">
                        <i class="fas fa-bell"></i>
                        <p>Results</p>
                    </a>
                </li>

                <li>
                    <a href="/state/">
                        <i class="fas fa-download"></i>
                        <p>Export</p>
                    </a>
                </li>
                <li>
                    <a href="/license/">
                        <i class="fas fa-cogs"></i>
                        <p>Licensing</p>
                    </a>
                </li>
                <li>
                    <a href="/scheduler/">
                        <i class="fas fa-clock"></i>
                        <p>Scheduler</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/regions/">
                        <i class="fas fa-th" style="color:#4890fe"></i>

                        <p style="color:#4890fe">Regions</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/">
                        <i class="fas fa-tools"></i>
                        <p>Admin</p>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="/accounts/logout/">
                        <i class="fas fa-power-off"></i>
                        <p>Logout</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Image Regions - Camera {{camera_number}}</h5>

                            <img src="data:image/png;base64,{{ image }}">
                            <h1></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">

                        <div class="list-group list-group-horizontal">
                            <form action="/display_regions/" method="post">
                                {% csrf_token %}
<fieldset>
    <legend>{{ form.regions.label }}</legend>
    {% for choice in form.regions %}
    <li class="list-group list-group-horizontal" style="font-family:courier; display: inline-flex; justify-content: stretch; height: 25px; width: 25px;  padding: 20px; margin-top: 5px; margin-bottom: 5px; font-size: 30px;">
        {{ choice }}
    </li>
    {% if forloop.counter  == 8 %}
    <div></div>
    {% endif %}
        {% if  forloop.counter  == 16 %}
    <div></div>
    {% endif %}
        {% if forloop.counter == 24 %}
    <div></div>
    {% endif %}
        {% if forloop.counter  == 32 %}
    <div></div>
    {% endif %}
            {% if forloop.counter  == 40 %}
    <div></div>
    {% endif %}
            {% if forloop.counter  == 48 %}
    <div></div>
    {% endif %}
            {% if forloop.counter  == 56 %}
    <div></div>
    {% endif %}
    {% endfor %}
</fieldset>

                                <p></p>
                                <br>
                                <input type="submit" class="btn btn-secondary" value="Submit">
                                <input type="submit" class="btn btn-secondary" name="reset" value="Reset">
                                <input type="hidden" id="camera_number" name="camera_number" value={{camera_number}}>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" onclick="myFunction()">Last log</button>
            <script>
            function myFunction() {
                                  var x = document.getElementById("log_history");
                                  if (x.style.display === "none") {
                                    x.style.display = "block";
                                  } else {
                                    x.style.display = "none";
                                  }
}

            </script>
            <div id="log_history" style="display: none;">
                <div class="row pl-2">
                    {% if creation_date %}
                    <h5 class="title">Last log date/time {{creation_date}}</h5>
                    {% endif %}
                </div>
                <div class="row pl-2">

                    <table>
                        <tr class="even">
                            {% for row in scores_field.regions %}
                            {% for value in row %}
                            {% if forloop.counter < 33 %}
                            {% if value in scores_field.low_regions %}
                            <td style="background: #E14ECA; background: radial-gradient(#ff0000, #493240); color: #000000">{{value}}</td>
                            {% elif value in scores_field.high_regions %}
                            <td style="background: #0F75E0; background: radial-gradient(#0575E6, #021B79); color: #000000">{{value}}</td>
                            {% else %}
                            <td>{{value}}</td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for row in scores_field.scores %}

                            {% for value in row %}
                            {% if forloop.counter < 33 %}
                            <td style="color: #ffffff">{{value}}</td>
                            {% endif %}

                            {% endfor %}
                            {% endfor %}
                        </tr>

                        <tr>

                            {% for row in scores_field.regions %}

                            {% for value in row %}
                            {% if forloop.counter > 32 %}
                            {% if value in scores_field.low_regions %}
                            <td style="background: #E14ECA; background: radial-gradient(#ff0000, #493240); color: #000000">{{value}}</td>
                            {% elif value in scores_field.high_regions %}
                            <td style="background: #0F75E0; background: radial-gradient(#0575E6, #021B79); color: #000000">{{value}}</td>
                            {% else %}
                            <td>{{value}}</td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% endfor %}
                        </tr>

                        <tr>
                            {% for row in scores_field.scores %}

                            {% for value in row %}
                            {% if forloop.counter > 32 %}
                            <td style="color: #ffffff">{{value}}</td>
                            {% endif %}

                            {% endfor %}

                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>


</body>

</html>