<!doctype html>
{% load bootstrap4 %}
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">-->

    <title>
        Check IT
    </title>
    <!--     Fonts and icons     -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <!-- Nucleo Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#073683">
        <link rel="manifest" href="{% static '/site.webmanifest' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/nucleo-icons.css' %}"/>-->
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/black-dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.css' %}"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <style>
        #id_regions li {
  border: 1px transparent solid;
  display:inline-block;
  width:4em;
}


    </style>
</head>

<body class="">
<div class="wrapper">
    <div class="sidebar" data="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a>
                    <img src="{% static 'isc_logo.png' %}" height="40px"/>
                </a>
                <a href="/" style="color:#FFFFFF">
                    CheckIT
                </a>
                <ul style="list-style-type:none">
                    {% if user.is_authenticated %}
                    <li><i class="far fa-user"></i> {{ user.get_username }} <br><a
                            href="/accounts/password_change">Change password</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}"> <i class="fa fa-sign-in-alt"></i>
                        Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="nav">
                {% if user.is_authenticated %}
                <li>
                    <a href="/status/">
                        <i class="fas fa-person-running"></i>
                        <p> System Status</p>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="/status/">
                        <!--                                <i class="tim-icons icon-user-run"></i>-->
                        <i class="fas fa-person-running"></i>
                        <p>Status</p>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/cameras/">
                        <!--                                <i class="tim-icons icon-video-66"></i>-->
                        <i class="fas fa-video"></i>

                        <p>Cameras</p>
                    </a>
                </li>

                <li>
                    <a href="/logs/">
                        <i class="fas fa-bell"></i>
                        <p>Results</p>
                    </a>
                </li>

                <li>
                    <a href="/state/">
                        <i class="fas fa-download"></i>
                        <p>Export</p>
                    </a>
                </li>
                <li>
                    <a href="/license/">
                        <i class="fas fa-cogs"></i>
                        <p>Licensing</p>
                    </a>
                </li>
                <li>
                    <a href="/scheduler/">
                        <i class="fas fa-clock"></i>
                        <p>Scheduler</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/regions/">
                        <i class="fas fa-th" style="color:#5603ad"></i>

                        <p style="color:#5603ad">Regions</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/">
                        <i class="fas fa-tools"></i>
                        <p>Admin</p>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="/accounts/logout/">
                        <i class="fas fa-power-off"></i>
                        <p>Logout</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="row">
                {%if camera_number %}
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Image Regions - Camera {{camera_number}}</h5>
                            <iframe width="1000" height="900" frameborder="0"
                                    src="{% url 'ref_image' camera_number %}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="card-body">
                        </div>
                        <div class="list-group list-group-horizontal">
                            <form action="/regions/" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Submit">
                                <input type="hidden" id="camera_number" name="camera_number" value={{camera_number}}>
                                <input type="hidden" id="returned_camera" name="returned_camera" value={{camera_number}}>
                            </form>
                        </div>
                    </div>

                </div>
                {% else %}
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <label>Enter Camera Number</label>
                        <input type="number" class="form-control" name="camera_number" tabindex="1">
                        <h3></h3>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


</body>

</html>