<!doctype html>
{% load bootstrap4 %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">-->

    <title>
        Scene Check
    </title>
    <!--     Fonts and icons     -->

<!---    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/> -->
    <!-- Nucleo Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#073683">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/nucleo-icons.css' %}"/>-->
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/black-dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.css' %}"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <style>

      ::placeholder {
        color: red;
        opacity: 1;
      }
      :placeholder-shown {
        border: 1px solid red;
      }
input {
    margin-top: 1rem;
}

input::file-selector-button {
    font-weight: normal;
    background: none;
    color: white;
    padding: 0em;
    border: none;
    border-radius: 0px;
}

        .running-man {
            font-size: 24px;
            animation: run 1s infinite linear;
        }

        @keyframes run {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(100px);
            }
            100% {
                transform: translateX(0);
            }
        }



    </style>
</head>
<body class="">

<div class="wrapper">
    <div class="sidebar" data="blue">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a>
                    <img src="{% static 'isc_logo.png' %}" height="40px"/>
                </a>
                <a href="/" style="color:#FFFFFF">
                    Scene Check
                </a>
                <ul style="list-style-type:none">
                    {% if user.is_authenticated %}
                    <li><i class="far fa-user"></i> {{ user.get_username }} <br><a
                            href="/accounts/password_change/">Change password</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}"> <i class="fa fa-sign-in-alt"></i>
                        Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="nav">
                <li>
                    <a href="/status/">
                        <i class="fas fa-person-running"></i>
                        <p>System Status</p>
                    </a>
                </li>
                <li>
                    <a href="/cameras/">
                        <i class="fas fa-video"></i>
                        <p>Cameras</p>
                    </a>
                </li>

                <li>
                    <a href="/logs/">
                        <i class="fas fa-bell"></i>
                        <p>Results</p>
                    </a>
                </li>

                <li>
                    <a href="/state/">
                        <i class="fas fa-download"></i>
                        <p>Export</p>
                    </a>
                </li>
                <li>
                    <a href="/license/">
                        <i class="fas fa-cogs"></i>
                        <p>Licensing</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/scheduler/">

                        <i class="fas fa-clock" style="color:#4890fe"></i>
                        <p style="color:#4890fe">Scheduler</p>
                    </a>
                </li>
                <li>
                    <a href="/regions/">
                        <i class="fas fa-th"></i>

                        <p>Regions</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/">
                        <!--                                <i class="tim-icons icon-settings"></i>-->
                        <i class="fas fa-tools"></i>

                        <p>Admin</p>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="/accounts/logout/">
                        <i class="fas fa-power-off"></i>
                        <p>Logout</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="row">
                <div class="col-sm-10">

                </div>

                <div class="container-fluid">

                    <h3 id="heading1">Scheduler</h3>
                    {% if error %}
                        <i style="color: red;font-size:2em"> {{ error }} </i>
                        <br>
                    {%  endif %}

                    <i id="running-icon" class="fa-solid fa-person-running" style="color:red;font-size:4em;"></i>


<script>
    // Function to update progress based on AJAX response
    function updateProgress() {
        // Make an AJAX request to the /get_progress/ endpoint
        fetch('/get_engine_status/')
            .then(response => response.json())
            .then(data => {
                // Update the progress variable based on the JSON response
                progress = data.progress;

                // Update the icon color based on the progress variable
                const icon = document.getElementById('running-icon');
                icon.style.color = progress ? 'green' : 'red';

                // Check if progress is false, and stop checking if so
                if (!progress) {
                    clearInterval(progressInterval);
                }
            })
            .catch(error => {
                console.error('Error fetching progress:', error);
            });
    }

    // Initial check and update
    updateProgress();

    // Set up a setInterval to check and update progress every second
    const progressInterval = setInterval(updateProgress, 1000);
</script>

                    <div id="container1">
                        <div id="row1" class="row">

                            <div class="col-md-4">

                                <form method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-round" type="submit" name="start_engine">Check All</button>
                                    <br>



                                </form>

                            </div>
                        </div>
                    </div>
                    <p></p>
                    <h3></h3>
                    <div id="container2">
                        <div id="row2_1" class="row">
                            <div class="col-md-4">

{#                                <form method="post">#}
{#                                    {% csrf_token %}#}
{#                                                        {% if admin_user == "True" %}#}
{#                                    <button class="btn btn-round" type="submit" name="toggle_scheduler">Toggle Scheduler</button>#}
{#                                                        {% endif %}#}
{##}
{#                                    <br>#}
{##}
{#                                    <i style="color: white;font-size:2em"> {{ scheduler_status }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>#}
{#                                    {% if scheduler_status == "Scheduler On" %}#}
{#                                    <i class="fa-sharp fa-solid fa-calendar-check" style="color:green;font-size:4em;"></i>#}
{#                                    {% else %}#}
{#                                    <i class="fa-sharp fa-solid fa-calendar-xmark" style="color:red;font-size:4em;"></i>#}
{#                                    {% endif %}#}
{##}
{#                                </form>#}
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <h3></h3>
<!--                    <h3>Current run schedule</h3>-->
<!--                    <div class="col-md-3 pr-md-1">-->
<!--                        <div class="form-group">-->
<!--                            <div class="alert alert-info">-->

<!--                                {% if run_schedule == 0 %}-->
<!--                                <span>The scheduler is not running</span>-->
<!--                                {% endif %}-->
<!--                                {% if run_schedule == 1 %}-->
<!--                                <span>The system will run hourly</span>-->
<!--                                {% endif %}-->
<!--                                {% if run_schedule > 1 %}-->
<!--                                <span>The system will run every {{ run_schedule }} hours</span>-->
<!--                                {% endif %}-->

<!--                            </div>-->
<!--                            <form method="post">-->
<!--                                {% csrf_token %}-->

<!--                                <label>Enter new hourly interval for run</label>-->
<!--                                <input type="number" class="form-control" required min="0" max="24" name="new_run"/>-->
<!--                                <h3></h3>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-6 pr-md-1">
                        <div class="col-md-12 border-round">
                                            <h3>Run on a single camera</h3>

                            <form method="post">
                                {% csrf_token %}
                                {% if camera_does_not_exist %}
                                <input type="number" style="::placeholder {color: red;};"
                                       placeholder="Camera does not exist" class="form-control"
                                       name="camera_check"/>
                                <button class="btn btn-round" type="submit">Single Camera Check</button>
                                {% else %}
                                <input type="number" class="form-control" min=1 required name="camera_check">
                                <button class="btn btn-round" type="submit">Single Camera Check</button>
                                {% endif %}
                            <br>
                            </form>

                        </div>
                    <br>
                    <br>
                    <div class="col-md-12 border-round">
                    <h3>Load cameras from file</h3>
                                                <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" class="btn btn-round" name="camera_list" accept="text/pain,.csv,.txt">
                                <button class="btn btn-round" type="submit">Upload Cameras</button>
                                                    <br>
                                                    <br>
                            </form>
                    </div>
                </div>
                <div id="row2" class="row">
                    <div class="col-md-4">

                    </div>
                </div>
            </div>

        </div>

        <script src="{% static 'main_menu/bootstrap.bundle.min.js' %}"></script>
    </div>
</div>
</div>
</div>
</body>
</html>